@import '../../styles/mixin.scss';

.container {
  @include flex_direction(row);
  @include justify_content(space-between);
  @include align_items(center);
  position: relative;
  top: 0;
  padding: 0 64px;
  min-width: 600px;
  height: 101px;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  z-index: 101;

  .title {
    @include justify_content(flex-start);
    @include align_items(center);
    @include flex_direction(row);
    flex-wrap: wrap;
    font-family: serif;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    width: 200px;
    height: 100%;
    background-color: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    word-break: break-all;

    .hidden_background {
      position: absolute;
      background-color: red;
      height: 100px;
      width: 200px;
      right: 0px;
      z-index: 1;
    }  
  }

  .right_menu {
    @include center_mid();
    height: 100%;
    width: 100px;
    img {
      width: 50px;
      height: 50px;
    }
  }
}