@import '../../styles/mixin.scss';

.container {
  @include flex_direction(column);
  @include justify_content(flex-start);
  @include align_items(center);
  border-bottom: 1px solid #dfdfdf;

  .content_wrap {
    max-width: 1024px;
    min-width: 320px;
    width: 100%;
    padding: 30px;
    padding-top: 60px;
    margin-bottom: 100px;
  }
}