@import '../../../../../styles/mixin.scss';

.title {
  font-size: 36px;
  margin-top: 1em;
}

.created_at {
  width: 100%;
  text-align: right;
  font-size: 13px;
  color: #afafaf;
}

.button_wrap {
  @include flex_direction(row);
  @include justify_content(flex-start);

  .button {
    cursor: pointer;
    color: #aaa;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 15px;
  }
}