@import '../../../styles/mixin.scss';

.container {
  @include flex_direction(column);
  @include justify_content(center);
  @include align_items(flex-start);
  width: 100%;

  .title {
    width: 100%;
    text-align: center;
    font-family: 'Zen Old Mincho', serif;
    font-size: 16px;
  }

  .list_item_container_action {
    width: 100%;
    cursor: pointer;
    .list_item_container {
      width: 100%;
      padding: 20px;
      border-radius: 20px;
      margin-bottom: 20px;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.10);
  
      article:first-child {
        color: #afafaf;
        font-size: 16px;
        padding-bottom: 10px;
        width: fit-content;
      }
      article {
        font-size: 20px;
      }
    }
  }
}