@import '../../styles/mixin.scss';

.menu_container {
  cursor: pointer;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
  width: 100px;
  height: 100px;
  padding: 10px;

  @mixin span_default {
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: black;
  }

  .span_1_menu {
    @include span_default();
    top: 35px;
    left: 25px;
    animation-fill-mode: forwards;
    animation-name: span_1_modify_reverse;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
  }
  .span_2_menu {
    @include span_default();
    top: 50px;
    left: 25px;
    animation-fill-mode: forwards;
    animation-name: span_2_modify_reverse;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
  }
  .span_3_menu {
    @include span_default();
    top: 65px;
    left: 25px;
    animation-fill-mode: forwards;
    animation-name: span_3_modify_reverse;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
  }

  .span_1_x {
    @include span_default();
    top: 35px;
    left: 25px;
    animation-name: span_1_modify;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  .span_2_x {
    @include span_default();
    top: 50px;
    left: 25px;
    animation-name: span_2_modify;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  .span_3_x {
    @include span_default();
    top: 65px;
    left: 25px;
    animation-name: span_3_modify;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
}

@keyframes span_1_modify {
  from {
    transform: rotateZ(0deg);
    top: 35px;
  }
  to {
    transform: rotateZ(120deg);
    top: -50px;
  }
}

@keyframes span_1_modify_reverse {
  from {
    transform: rotateZ(120deg);
    top: -50px;
  }
  to {
    transform: rotateZ(0deg);
    top: 35px;
  }
}

@keyframes span_2_modify {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(45deg);
  }
}

@keyframes span_2_modify_reverse {
  from {
    transform: rotateZ(45deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes span_3_modify {
  from {
    transform: rotateZ(0deg);
    top: 65px;
  }
  to {
    transform: rotateZ(-45deg);
    top: 50px;
  }
}

@keyframes span_3_modify_reverse {
  from {
    transform: rotateZ(-45deg);
    top: 50px;
  }
  to {
    transform: rotateZ(0deg);
    top: 65px;
  }
}