@import "./mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.toastui-editor-contents {
  font-size: 1.1rem !important;
}

.toastui-editor-contents h1 {
  font-size: 40px !important;
}

.toastui-editor-contents h2 {
  font-size: 32px !important;
}

.toastui-editor-contents h3 {
  font-size: 24px !important;
}

.toastui-editor-contents h4 {
  font-size: 18px !important;
}

.toastui-editor-contents h5 {
  font-size: 15px !important;
}

.toastui-editor-contents h6 {
  font-size: 12px !important;
}

.body_footer_wrap {
  
}

.component_wrap {
  @include flex_direction(row);
  width: 100%;
  min-width: 370px;

  .profile {
    position: sticky;  
    top: 0;
    flex: 0.2;
    height: 500px;
  }
  .component {
    flex: 0.8;
    padding: 0 30px 0 60px;
  }
  .right_side_menu {
    min-width: 100px;
  }
}

@media screen and (max-width: 700px) {
  .component_wrap {
    min-width: 0;
    .profile {
      display: none;
    }
    .component {
      padding: 0;
      flex: 1;
    }
    .right_side_menu {
      min-width: 0;
    }  
  }
}